langchain
langchain-core
python-dotenv
streamlit
numpy
langchain-community
langserve
sse_starlette
chromadb
wikipedia
langchainhub
pypdf
pymupdf
ipykernel
unstructured
pdfminer.six
pi-heif
hf_xet
langchain-experimental  # for SemanticChunker   
huggingface_hub
langchain_huggingface
langchain-chroma
google-genai
langchain-google-genai
langsmith
langchain-groq
langchain-classic
setuptools
#-e .
