openai
langchain
langchain-openai
langchain-core
python-dotenv
streamlit
pandas
numpy
fastapi
langchain-community
uvicorn
langserve
ollama
sse_starlette
bs4
pypdf
chromadb
faiss-cpu
wikipedia
langchainhub
pypdf
pymupdf
ipykernel
unstructured
pdfminer.six
pi-heif
unstructured_inference
pdf2image
hf_xet
langchain-experimental  # for SemanticChunker   
huggingface_hub
langchain_huggingface
transformers
chromadb
langchain-chroma
sentence-transformers
google-genai
langchain-google-genai
langsmith
beautifulsoup4
langchain-groq
Flask
langchain-classic
setuptools
-e .
